<!-- /views/listings/show.ejs -->
<%layout('layouts/boilerplate')%>
 <body>
    <h3>Listing Details:- </h3>
    <ul>
        <li>Title: <%=listing.title%></li>
        <li>Location: <%=listing.location%></li>
        <li>Price: &#8377; <%=listing.price.toLocaleString('en-IN')%></li>
        <li>Description: <%=listing.description%></li>
    </ul>
    <!-- edit link -->
    <a href="/listings/<%=listing._id%>/edit">Edit</a>
    <br><br>
    <!-- delete button -->
    <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
      <button>Delete listing</button>
    </form>
 </body>
