<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=data.name%>'s Account</title>
    <link rel="stylesheet" href="/style.css"> <!-- default tracking from public folder-->
</head>
<body>
    <h1>This page belongs to @<%=data.name%></h1>
    <button>Follow</button>
    <button>Share</button>
    <p>Total Followers : <%=data.followers%></p>
    <p>Total Following : <%=data.following%></p>
    <hr>
    <h3>Posts:-</h3>
    <% for(let posts of data.posts){%>
            <img src=<%=posts.image%>>
            <p> Likes : <%=posts.likes%> &nbsp;&nbsp; Comments : <%=posts.comments%></p>
        <% } %>
    <script src="/app.js"></script>
</body>
</html>