<%- include("includes/head.ejs"); %>
<body>
    <h1>This page belongs to @<%=data.name%></h1>
    <button>Follow</button>
    <button>Share</button>
    <p>Total Followers : <%=data.followers%></p>
    <p>Total Following : <%=data.following%></p>
    <hr>
    <h3>Posts:-</h3>
    <% for(let posts of data.posts){%>
            <img src=<%=posts.image%>>
            <p> Likes : <%=posts.likes%> &nbsp;&nbsp; Comments : <%=posts.comments%></p>
        <% } %>
        <%-include("includes/footer.ejs") %>
    <script src="/app.js"></script>
</body>
</html>